
/CICMessenger.UI/obj
/CICMessenger.UI/bin
/CICMessenger.Bridge/bin
/CICMessenger.Bridge/obj
/CICMessenger.Client/bin
/CICMessenger.Client/obj
/CICMessenger.Core/obj
/CICMessenger.Core/bin
/CICMessenger.Utilities/bin
/CICMessenger.Utilities/obj
/CICMessenger.Translate/obj
/CICMessenger.Translate/bin
/CICMessenger.Multicast/bin
/CICMessenger.Multicast/obj
/CICMessenger.History/bin
/CICMessenger.History/obj
/CICMessenger.VoiceChat/bin
/CICMessenger.VoiceChat/obj
/CICMessenger.FileTransfer/bin
/CICMessenger.FileTransfer/obj
/CICMessenger.Screenshot/bin
/CICMessenger.Screenshot/obj
/CICMessenger.Infrastructure/bin
/CICMessenger.Infrastructure/obj
/CICMessenger.Setup/obj
/CICMessenger.Setup/bin
/CICMessenger.Tests/bin
/CICMessenger.Tests/obj
/CICMessenger.Launcher/bin
/CICMessenger.Launcher/obj
/Libraries/Plugins/NAudio.dll
/Libraries/Plugins/CICMessenger.FileTransfer.dll
/Libraries/Plugins/CICMessenger.VoiceChat.dll
/Libraries/Plugins/CICMessenger.Screenshot.dll
/Libraries/Plugins/libspeex-license.txt
/Libraries/Plugins/libspeexdsp.dll
/Build/*.zip
/Build/*.log
/Build/*.msi
*.user
*.suo
*.ncrunch*
packages
